<html>
<head>
<!--link CSS-->


</head>


<body>
<h1>Essay Extender</h1>
<h2>Welcome!</h2>
<p>Have you ever written an awesome essay but then realized it was too short? FRUSTRATING!
Well we have a solution! The days you have to double-space your essay or increase the margins are over.
To make your essay longer, protracted, drawn-out, far-reaching, outstretched, spread out and spun out, just paste it into the textfield below and click the "Submit" button.</p>



<form method="post" action="/">
<textarea name="input" rows:"60" cols="70" name="">Your essay goes here</textarea>

<input type="submit" name="button" value="Submit">
</form>

<div>
<h2>Result:</h2>
 	<%= random %>



</div>

</body>
</html>